<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<th:block th:insert="~{/include/navigate}"/>
<div class="row mr-1 ml-1 mt-1">
  <div class="col-10">
    <div class="row">
      <div th:each="product : ${page.content}">
        <div class="col-3 ml-5">
          <div class="card mr-5 ml-5 mt-1 shadow bg-body-tertiary rounded" style="max-width: 14rem; height: 35rem; min-width: 14rem;">
            <a th:href="@{/product/__${product.id}__}">
              <img class="card-img-top" style="max-height: 20rem"
                   th:src="@{/images/__${#strings.toLowerCase(product.category)}__/__${product.name}__.jpg}"
                   th:alt="${product.name}">
            </a>
            <div class="card-body">
              <h5 class="card-title text-wrap" style="text-align: -webkit-center"
                  th:text="${product.name}"></h5>
              <p class="card-text font-italic" style="font-size: small" th:text="${product.info + '.'}"></p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted" style="font-size: 20px" th:text="${product.price + '$'}"></small>
            </div>
            <th:block>
              <div sec:authorize="isAuthenticated()">
                <div class="btn-group btn-group-fill">
                  <a th:href="@{/add-cart(id=${product.id}, shop=true, location='none')}"
                     class="btn btn-success active" style="min-width: 8.8rem"
                     aria-current="page">Buy
                  </a>
                  <a th:href="@{/add-cart(id=${product.id}, shop='none', location='none', page=${page.number})}"
                     class="btn btn-success">
                    <div class="text-center mt-1">
                      <i class="bi bi-cart-plus"></i>
                    </div>
                  </a>
                  <a th:href="@{/add-favorite(id=${product.id}, shop='none', location='none', page=${page.number})}"
                     class="btn btn-success">
                    <div class="text-center mt-1">
                      <i class="bi bi-heart"></i>
                    </div>
                  </a>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 mt-3">
    <th:block th:insert="~{/include/pagination}"/>
  </div>
</div>
<th:block th:insert="~{/include/contact-info}"/>
</body>
</html>
