<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Info</title>
  <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<th:block th:insert="~{/include/navigate}"/>
<h1 class="text-center mt-5">Hello admin!</h1>
<table class="table table-sm table-dark w-75 ml-5 mt-5 rounded" style="text-align: center">
  <thead>
  <tr style="text-align: center">
    <th scope="col">#</th>
    <th scope="col">Product name</th>
    <th scope="col">Popularity</th>
    <th scope="col">Price</th>
    <th scope="col">Сhange the price</th>
  </tr>
  </thead>
  <tbody class="rounded">
  <!--    <tr th:each="instance : ${products}">-->
  <!--    <tr th:each="entry, stats : ${products}" th:with="product=${entry.key}">-->
  <!--        <th scope="row">-</th>-->
  <!--        <td class="font-italic" >-->
  <!--            <a th:href="@{/product/__${instance.key.productDto.id}__}" th:text="${instance.key.productDto.name}" class="text-decoration-none text-light"></a>-->
  <!--        </td>-->
  <!--        <td class="font-italic" th:text="${instance.value}"></td>-->
  <!--        <td class="font-italic" th:text="${instance.key.productDto.price}"></td>-->
  <!--        <td>-->
  <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
  <!--                <p th:text="${instance.get('count')}"></p>-->
  <!--                Launch demo modal-->
  <!--            </button>-->
  <!--        </td>-->
  <!--    </tr>-->
  <!--    </tbody>-->

  <!--    <tbody class="rounded">-->
  <!--    <tr th:each="instance : ${mostFavorite}">-->
  <!--        <th scope="row">-</th>-->
  <!--        <td class="font-italic" >-->
  <!--            <a th:href="@{/product/__${instance.productDto.id}__}" th:text="${instance.productDto.name}" class="text-decoration-none text-light"></a>-->
  <!--        </td>-->
  <!--        <td class="font-italic">some</td>-->
  <!--        <td class="font-italic" th:text="${instance.productDto.price}"></td>-->
  <!--        <td>-->
  <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
  <!--                Launch demo modal-->
  <!--            </button>-->
  <!--        </td>-->
  <!--    </tr>-->

  <!--    <tbody class="rounded">-->
  <!--    <tr th:each="instance : ${mostFavorite}">-->
  <!--        <th scope="row">-</th>-->
  <!--        <td class="font-italic" th:text="${instance}">-->
  <!--        </td>-->
  <!--        <td class="font-italic">some</td>-->
  <!--        <td class="font-italic"> some</td>-->
  <!--        <td>-->
  <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
  <!--                Launch demo modal-->
  <!--            </button>-->
  <!--        </td>-->
  <!--    </tr>-->
  <!--    </tbody>-->


  <!--    <tbody class="rounded">-->
  <!--    <tr th:each="instance : ${mostFavorite.instanceMap}">-->
  <!--        <th scope="row">-</th>-->
  <!--        <td class="font-italic" >-->
  <!--            <a th:href="@{/product/__${instance.key.productDto.id}__}" th:text="${instance.key.productDto.name}" class="text-decoration-none text-light"></a>-->
  <!--        </td>-->
  <!--        <td class="font-italic" th:text="${instance.value}"></td>-->
  <!--        <td class="font-italic" th:text="${instance.key.productDto.price}"></td>-->
  <!--        <td>-->
  <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
  <!--                Launch demo modal-->
  <!--            </button>-->
  <!--        </td>-->
  <!--    </tr>-->
  <!--    </tbody>-->


  <tr th:each="productMap : ${products}">
    <th:block th:each="productWithCout : ${productMap}">
      <th:block th:with="product=${productWithCout.getKey()},count=${productWithCout.getValue()}">
        <th scope="row">-</th>
        <td class="font-italic">
          <a th:href="@{/product/__${product.id}__}" th:text="${product.name}" class="text-decoration-none text-light"></a>
        </td>
        <td class="font-italic" th:text="${count}"></td>
        <td class="font-italic" th:text="${product.price}"></td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
        </td>
      </th:block>
    </th:block>
  </tr>
  </tbody>


</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<th:block th:insert="~{/include/contact-info}"/>
</body>
</html>
