<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<th:block th:insert="~{/include/navigate}"/>
<div class="container text-center mt-3 w-100 p-0">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <form class="d-flex" role="search" th:action="@{/search-param}" method="post">
          <input class="form-control me-2" type="search" name="search-condition" placeholder="Search"
                 aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container mt-1 min-vw-100 p-3">
  <div class="row grid gap-3">
    <div class="col-5 ml-4">
      <div class="row ml-3 mr-3">
        <div class="col-12 border border-secondary rounded rounded-5 shadow p-3 mb-5 bg-body-tertiary rounded"
             style="min-width: 23.5rem">
          <h3 class="text-start ml-5">Filter:</h3>
          <form th:action="@{/search-filter}" method="post">
            <div class="row text-center">
              <div class="col-sm-12">
                <select class="form-select col-8 col-sm-12 p-2 text-center"
                        aria-label="Default select example" name="select">
                  <option selected value="all">all categories</option>
                  <option th:each="category : ${productCategories}" th:value="${category}"
                          th:text="${category}"></option>
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="minPrice" name="min-price"
                         class="form-control form-control-lg text-center"
                         placeholder="Min Price"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="maxPrice" name="max-price"
                         class="form-control form-control-lg text-center"
                         placeholder="Max price"/>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6"></div>
              <div class="col-6 col-sm-6">
                <div>
                  <input class="col-sm-12 btn btn-outline-dark" type="submit" value="Filter"/>
                </div>
                <div>
                  <a class="col-sm-12 btn btn-outline-dark mt-2"
                     th:href="@{/search}">
                    Reset filter
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 border border-secondary rounded rounded-5 shadow p-2 ml-5 bg-body-tertiary rounded"
         style="min-width: 20rem">
      <th:block th:if="${page != null}">
        <th:block th:insert="~{/include/search-view}"/>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>
