<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Favorites</title>
  <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<th:block th:insert="~{/include/navigate}"/>
<th:block th:if="${favoriteProducts.size() < 1}">
  <h3 class="text-center mt-2 text-dark font-italic">Try clicking on this icon on a product that you like!</h3>
  <div class="text-center">
    <a th:href="@{/eshop}">
      <img class="card-img-top w-25" th:src="@{/images/decoration/like.jpeg}" alt="like">
    </a>
  </div>
</th:block>
<div class="row row-cols-1 row-cols-md-6 g-4 mr-1 ml-1 mt-1">
  <div th:each="product : ${favoriteProducts}">
    <div class="card mr-2 ml-2 mt-1 shadow bg-body-tertiary rounded" style="max-width: 14rem">
      <th:block th:insert="~{/include/one-product-card.html}"/>
      <th:block>
        <div sec:authorize="isAuthenticated()">
          <div class="btn-group btn-group-fill">
            <a th:href="@{/add-cart(id=${product.id}, shop=true, location='none')}"
               class="btn btn-success active" style="min-width: 8.8rem"
               aria-current="page">Buy</a>
            <a th:href="@{/add-cart(id=${product.id}, shop='none', location='favorite')}"
               class="btn btn-success">
              <div class="text-center mt-1">
                <i class="bi bi-cart-plus"></i>
              </div>
            </a>
            <a th:href="@{/delete-favorite(id=${product.id})}"
               class="btn btn-success">
              <div class="text-center mt-1">
                <i class="bi bi-heartbreak"></i>
              </div>
            </a>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>
