<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="login-box">-->
<!--        <form th:action="@{/edit-user/{id}(id=${T(org.springframework.security.core.context.-->
<!--        SecurityContextHolder).getContext().getAuthentication().getPrincipal().getUser().getId()})}" th:method="post" class="registration">-->
<!--          <h1>Edit form</h1>-->
<!--&lt;!&ndash;          <div class="user-box">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="name">&ndash;&gt;-->
<!--&lt;!&ndash;              <span>Name</span>&ndash;&gt;-->
<!--&lt;!&ndash;              <input type="text" name="name" required="" id="name" th:field="${user.name}">&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="error" th:text="${nameError}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              <ul class="input-requirements">&ndash;&gt;-->
<!--&lt;!&ndash;                <li>At least 3 characters long</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li>Must only contain letters (no special characters)</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="user-box">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="surname">&ndash;&gt;-->
<!--&lt;!&ndash;              <span>Surname</span>&ndash;&gt;-->
<!--&lt;!&ndash;              <input type="text" name="surname" required="" id="surname" th:field="${user.surname}">&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="error" th:text="${surnameError}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              <ul class="input-requirements">&ndash;&gt;-->
<!--&lt;!&ndash;                <li>At least 3 characters long</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li>Must only contain letters (no special characters)</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div style="margin-top: 15px">-->
<!--            <input type="submit" value="Save" class='validateBtn'/>-->
<!--          </div>-->
<!--          <a th:href="@{/account}" class="buttonType">Back</a>-->
<!--        </form>-->
<!--      </div>-->
<!--      <script type="text/javascript" src="/js/edit-validate.js"></script>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->