<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Shopping-cart</title>
  <th:block th:insert="~{/include/bootstrap}"/>
</head>
<body>
<th:block th:insert="~{/include/navigate}"/>
<th:block th:if="${cartProducts.size() < 1}">
  <h3 class="text-center mt-2 text-dark font-italic">To fill the shopping cart</h3>
  <div class="text-center">
    <a th:href="@{/eshop}">
      <img class="card-img-top w-25 rounded-circle" th:src="@{/images/decoration/empty-cart.jpg}" alt="like">
    </a>
    <h3 class="text-center mt-2 text-dark font-italic">you need to add products to the cart</h3>
  </div>
</th:block>
<th:block sec:authorize="isAuthenticated()" th:if="${fullPrice > 0}">
  <table class="table table-sm table-dark w-75 ml-5 mt-5 rounded" style="text-align: center">
    <thead>
    <tr style="text-align: center">
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
      <th scope="col">Delete</th>
      <th scope="col">Count</th>
      <th scope="col">Add</th>
      <th scope="col">Total price</th>
    </tr>
    </thead>
    <tbody class="rounded">
    <tr th:each="cart : ${cartProducts}">
      <th scope="row">-</th>
      <td class="font-italic">
        <a th:href="@{/product/__${cart.productDto.id}__}" th:text="${cart.productDto.name}" class="text-decoration-none text-light"></a>
      </td>
      <td class="font-italic" th:text="${cart.productDto.price}"></td>
      <td class="font-italic">
        <a th:href="@{/delete-cart(id=${cart.productDto.id})}">
          <div class="text-center border border-warning rounded-pill btn-outline-warning">
            <i class="bi bi-cart-dash"></i>
          </div>
        </a>
      </td>
      <td class="font-italic" th:text="${cart.count}"></td>
      <td class="font-italic">
        <a th:href="@{/add-cart(id=${cart.productDto.id}, shop=true, location='none')}">
          <div class="text-center border border-warning rounded-pill btn-outline-warning">
            <i class="bi bi-cart-plus"></i>
          </div>
        </a>
      </td>
      <td class="font-italic" th:text="${cart.productDto.price*cart.count}"></td>
    </tr>
    <th:block th:if="${fullPrice > 0}">
      <tr style="border-top: chartreuse solid 2px">
        <td colspan="6" style="text-align: right; font-weight: bold">Full price:</td>
        <td class="font-weight-bold" style="text-align: center" th:text="${fullPrice}"></td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <form method="post" th:action="@{/cart-processing}">
    <input type="submit" name="buy" value="Buy" class="btn btn-lg btn-success btn-block w-75 ml-5 mt-5 rounded"/>
  </form>
</th:block>
</body>
</html>
